################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lesson1/task1/obj
/lesson1/.vs/lesson1.slnx
/lesson1/task1/bin/Debug/net10.0
